/* Full-screen background and responsive design */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color:#29b274 ;
}

/* H E A D E R */
.header-text {
    display: grid;
    grid-template-columns: repeat(24, 1fr); /* 24 gleichgroße Spalten */
    grid-template-rows: auto 1fr; /* Erste Zeile passt sich automatisch an, zweite Zeile ist kleiner */
    gap: 10px; /* Optional: Abstände zwischen den Grid-Elementen */
    width: 100%;
    margin-top: 20px;
}

/* h1 im Grid positionieren, über zwei Zeilen */
.header-text h1 {
    font-family: "anton", sans-serif;
    font-weight: 200;
    font-size: 230px;
    color: #324d2d;
    margin: 0;
    text-align: left;
    grid-column: 2 / -1; /* Nimmt die gesamte Breite ein (alle 24 Spalten) */
    grid-row: 1; /* Erstreckt sich über zwei Zeilen */
    line-height: 15vw;

}

/* h2 im Grid positionieren, beginnt bei Spalte 5 */
.header-text h2 {
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: 400;
    font-size: 180px;
    color: #43663d;
    margin: 0;
    grid-column: 13 / span 15; /* Startet bei Spalte 5 und geht über 8 Spalten */
    grid-row: 2; /* Befindet sich in der dritten Zeile, unter h1 */
    line-height: 5vw;
}

/* S C H R I F T E N */
h3{
    font-family: "anton", sans-serif;
    font-weight: 200;
    font-size: 30px;
    font-style: normal;
    text-align: left;
    color: white;
    margin: 0;
}

h4{
    font-family: "anton", sans-serif;
    font-size: 40px;
    font-style: normal;
    text-align: left;
    color: white;
    margin: 0;
}

h5{
    font-family: "Annie Use Your Telescope";
    font-size: 40px;
    color: white;
    margin: 0;
}

p{
    font-family: "Annie Use Your Telescope";
    font-size: 30px;
    color: white
}

/* M A P - C O N T A I N E R */
/* Adjust the map container to have some space above it */
.map-container {
    position: relative; 
    width: 100%;
    height: auto;
    margin-top: 20px; 
}

.map-image {
    width: 100%; 
    height: auto;
    display: block;
}

.container {
    min-height: 100vh; /* Container nimmt mindestens die volle Höhe des Viewports ein */
    position: relative; 
    padding-bottom: 0; 
    width: 100%;
    display: block;
}

/* S T A T I O N */
/* Positioning of the bike stations */
.station {
    position: absolute;
    cursor: pointer;
}

/* B U B B L E */
/* Design for the bike station bubbles */
.bubble {
    width: 50px;
    height: 50px;
    background-color: #AD1380;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: width 0.3s ease, height 0.3s ease;    
}

/* Hover-Effekt: Bubble wird dunkler */
.bubble:hover {
    background-color: #700C53; 
}

/* I N F O - B O X */
/* Hidden popup window */
.info-box {
    display: none;
    position: absolute;
    top: -100px;
    left: -50px;
    width: 400px;
    background-color: #AD1380;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 1000;
}

.info-header {
    display: flex;
    justify-content: flex-start;
}

.close-btn {
    cursor: pointer;
    font-size: 20px;
    color: white;
    margin-left: auto;
}

.info-content p {
    margin: 5px 0;
}

/* T E M P E R A T U R - B O X */
/* Styling für die fixierte Infobox */
.temperature-box {
    position: absolute; 
    top: 3%;
    left: 60%;
    background-color: #324d2d;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
}

/* F O O T E R */
/* Haupt-Layout für den Footer */
.footer-text {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    z-index: 2;
    color: white;
    padding: 20px;
}

.footer-text h1 {
    font-family: "anton", sans-serif;
    font-weight: 200;
    font-size: 60px;
    color: #324d2d;
    margin: 0;
    grid-column: 6 / span 5;
    grid-row: 2;
}

.footer-text h2 {
    font-family: "Annie Use Your Telescope";
    font-weight: 400;
    font-size: 100px;
    color: #43663d;
    margin: 0;
    text-align: center;
    grid-column: 2 / span 8; /* Passt die Spalte so an, dass der Text zentriert wird */
    grid-row: 1; 
    line-height: 1;
}



/* R E S P O N S I V E */
/* Media Query für Tablets und größere Smartphones (Portrait Modus) */
@media (max-width: 1024px) {
    .header-text h1 {
        font-size: 130px; 
        line-height: 1.2;  
    }

    .header-text h2 {
        font-size: 80px;
        line-height: 1.4;
    }

    .bubble {
        width: 40px;
        height: 40px;
        font-size: 18px;  
    }

    .temperature-box {
        width: 250px; 
        padding: 15px;
    }

    .temperature-box h4 {
        font-size: 30px;
    }

    .temperature-box h5 {
        font-size: 35px; 
    }

    .info-box {
        width: 250px; 
        padding: 8px;
    }

    .info-header h3 {
        font-size: 25px; 
    }

    .info-content p {
        font-size: 20px; 
        line-height: normal;
    }

    .close-btn {
        font-size: 18px; 
    }

    .footer-text h1 {
        font-size: 40px;
    }

    .footer-text h2 {
        font-size: 60px;
    }
}

/* Media Query für kleinere Smartphones (Portrait Modus) */
@media (max-width: 768px) {
    .header-text h1 {
        font-size: 100px;  
        line-height: 1.3; 
    }

    .header-text h2 {
        font-size: 60px;
        line-height: 1.5;
    }

    .bubble {
        width: 30px;
        height: 30px;
        font-size: 14px; 
    }

    .temperature-box {
        width: 200px;
        padding: 12px;
    }

    .temperature-box h4 {
        font-size: 25px;
    }

    .temperature-box h5 {
        font-size: 30px; 
    }

    .info-box {
        width: 240px;
        padding: 7px;
    }

    .info-header h3 {
        font-size: 20px; 
    }

    .info-content p {
        font-size: 16px; 
        line-height: normal;
    }

    .close-btn {
        font-size: 16px; 
    }

    .footer-text h1 {
        font-size: 30px;
    }

    .footer-text h2 {
        font-size: 50px;
    }
}

/* Media Query für sehr kleine Smartphones */
@media (max-width: 480px) {
    .header-text h1 {
        font-size: 60px;  
        line-height: 1.4; 
    }

    .header-text h2 {
        font-size: 40px;
        line-height: 1.6;
    }

    .bubble {
        width: 25px;
        height: 25px;
        font-size: 12px; 
    }

    .temperature-box {
        width: 150px;
        padding: 10px;
    }

    .temperature-box h4 {
        font-size: 20px; 
    }

    .temperature-box h5 {
        font-size: 25px; 
    }

    .info-box {
        width: 200px; 
        padding: 5px;
    }

    .info-header h3 {
        font-size: 20px; 
    }

    .info-content p {
        font-size: 16px; 
        line-height: normal;
    }

    .close-btn {
        font-size: 14px;
    }

    .footer-text h1 {
        font-size: 20px;
    }

    .footer-text h2 {
        font-size: 40px;
    }
}

/* Media Query für sehr sehr kleine Smartphones */
@media (max-width: 444px) {
    .header-text h1 {
        font-size: 50px; 
        line-height: 1;  
    }

    .header-text h2 {
        font-size: 40px;
        margin-top: -10px;
    }

    .temperature-box {
        width: 120px; 
        padding: 8px;
    }

    .map-container {
        margin-top: 0;
    }

    .temperature-box h4 {
        font-size: 14px;
    }

    .temperature-box h5 {
        font-size: 22px;
    }

    .info-box {
        width: 180px; 
        padding: 4px;
    }

    .info-header h3 {
        font-size: 18px;
    }

    .info-content p {
        font-size: 14px;
        line-height: 1;
    }

    .close-btn {
        font-size: 12px;
    }

    .footer-text h1 {
        font-size: 12px;
    }

    .footer-text h2 {
        font-size: 30px;
    }
}